
<div class="header">
  <ul>
    <li><a href="#">Bucket List </a></li>
    <li><a href="#">Home </a></li>
    <li><a href="#">LogOut </a></li>
  </ul>
  <hr>
</div>
<h2>Welcome, {{currentUser}}!</h2>
<app-create [users]="users" (createNewBucketListEvent)= "createNewBucketListChild($event)"> </app-create>

<h5>Before I die I want to ....</h5>
<div class="done" *ngFor="let item of bucketLists">
  <input (click)="update(item)" type="checkbox" class="checkBox" name="done" [checked]="item.done == true ">
  <label>{{item.author}}: {{item.title}} -- {{item.description}}--{{item.createdAt | date:'medium'}}</label>

</div>
<h5>List of Users(Click to view Profile)</h5>

<a class="users"  [routerLink]="['/show/', user._id]" *ngFor="let user of users">{{user.name}}</a>
